html, body 
{
	margin:0;
	padding:0;
	font-weight: bold;
}


.a-linkLogin
{
	font-size:.590em;
	color:#036;
	font-family: Arial;
}

#estado
{
	color:green;
	font-size:10px;
	margin-top:3px;
	float:left;
	width:65%;
	font-family: Arial, Segoe UI, Gill Sans MT;
}

.tr-etiqueta
{
	color:#093;
	height:30px; 
	font-family:Arial , Gill Sans, Segoe UI ; 
	font-size:1.3em;
}

.td-borde
{
	width:5%;
}
.td-centro
{
	width:90%;
}


.pleca {
  background: #0D47A1;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding-right: 1em;
  padding-left: 1em;
  
}

#sistema-fca {
 font-size: 50px;
  font-weight: lighter;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  height: auto;
  width: 338px;
  background-color: transparent;
  color: #003366;
  font-weight: 200;
  text-align: center;
  width: 100%;
}

#divMsjError {
  /*font-size: 25px;*/
  font-size: 15px;
  font-weight: lighter;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  height: auto;
  width: 338px;
  background-color: transparent;
  color: #c85305;
  font-weight: 200;
  text-align: center;
  width: 100%;
}

#msjError {
 font-size: 1.2em !important;
  color: #c85305 !important;
  margin-top: 3px !important;
  float: left !important;
  width: 100% !important;
  font-family: Arial, Segoe UI, Gill Sans MT !important;
}

#inisesion {
  font-size: 28px;
  font-weight: lighter;
  margin: 0px;
  height: auto;
  width: 338px;
  background-color: transparent;
  color: #666666;
  font-weight: 200;
  text-align: center;
  width: 100%;
}


#inisesionMsj {
  font-size: 39px;
  font-weight: lighter;
  height: auto;
  width: 338px;
  background-color: transparent;
  color: #666666;
  font-weight: 200;
  text-align: center;
  width: 100%;
}

#divCambPsw {
  color: #006699;
}

#mantenimiento {
  font-size: 39px;
  font-weight: lighter;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  height: auto;
  width: 338px;
  background-color: transparent;
  color: #003366;
  font-weight: 200;
  text-align: center;
  width: 100%;
}

input.text {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: none;
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #cccccc;
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: #cccccc;
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: #cccccc;
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  cursor: auto;
  direction: ltr;
  display: block;
  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi, "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  height: 36px;
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 100%;
  outline-color: rgb(38, 38, 38);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  user-select: text;
  width: 100%;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  appearance: none;
  -webkit-locale: "en";
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
  border-image: none;
}


.txt-login {
  font-size: 16px;
  width: 50%;
  border: 0;
  border-bottom: 2px solid #cccccc;
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: .5px;
  /*background-color: rgb(232, 240, 254) !important;*/
}


#divUsr {
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  direction: ltr;
  display: block;
  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue", "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi, "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
  font-size: 15px;
  font-weight: normal;
  height: 52px;
  line-height: 20px;
  margin-left: 0px;
  margin-right: -2px;
  text-align: left;
  text-size-adjust: 100%;
  width: 100%;
}

*:focus {
  outline: none;
}

/*input:-internal-autofill-selected {
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}*/


#txtUser:hover  {
  background-color: rgb(232, 240, 254) !important;
}


#txtPassword:hover {
  background-color: rgb(232, 240, 254) !important;
}

#divPsw {
  margin-top: 2em;
}

#divPswInt {
  font-size: 20px;
  font-weight: lighter;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  height: auto;
  width: 338px;
  background-color: transparent;
  color: #666666;
  font-weight: 200;
  text-align: center;
  width: 100%;
}


#divUsrInt {
  font-size: 20px;
  font-weight: lighter;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  height: auto;
  width: 338px;
  background-color: transparent;
  color: #666666;
  font-weight: 200;
  text-align: center;
  width: 100%;
}

.imgLogin {
  width: 50%;
  height: 100%;
  position: fixed;
}

.divDerechosReser {
  right: 15px;
  bottom: 10px;
  width: 100%;
  color: #666666;
  font-size: 15px;
  font-weight: light;
}

.a-linkLogin2 {
  font-size: 1em !important;
}

.errorMsj {
  font-size: .5em !important;
  color: #c85305 !important;
  margin-top: 3px !important;
  float: left !important;
  width: 100% !important;
  font-family: Arial, Segoe UI, Gill Sans MT !important;
}

#colImg {
      padding-left: 0;
      
  }


@media (max-width: 767px) {
  #colImg {
      display: none;
  }
  #divIzq {
      margin: 0 auto;
  }

}

body {
  
  font-family: 'Roboto', sans-serif !important;
}

a, input {
  font-family: 'Roboto', sans-serif !important;
}

#footer {
  position: inherit;
  width: 100%;
  margin-top: 20%;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
}